.footer{
    background-color: #0096A4;
    height: 10vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.footer h6{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.footer h6 p{
    color: white;
    margin-top: 10px;
}
/* &rarr; &copy; &larr;  */