.dev{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}
.lg{
    width: 100vh;
    height: 50vh;
    background: rgb(228, 236, 255);
     margin-left: 30%;
     border-radius: 10px;
}
.lg{
    box-shadow: 0px 2px 2px 2px rgb(133, 131, 131)

}

.login{
    margin-top: 50px;
    /* margin-left: 30px; */
}
.login input{
    border: 1px solid black;
    display: block;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none;
    box-shadow: 20px black;

}
.login button{
    border: none;
    width: 140px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    padding: 0;
    background: green;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 50px;
}
.login button:hover{ 
    background-color: green;
}
.login button{
    margin-left: 50px;
    margin-bottom: 10px;

}
.remember-forgot span{
    padding:10px;

}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.member-login {
    background-color: white;
}
.member-login {
    background-color: white;
    box-shadow: 0 0 24px rgb(20, 20, 22);
}
.login-btn {
    background-color:rgb(61, 56, 56);
}
.flex-column {
    margin-left: 15px;
}